{% ckan_extends %}

{% block resources %}
    <div class="flex">
        <div class="flex-auto">
            {{ super() }}
        </div>
        {% if 'freshness_score' in h %}
        <div class="flex-auto mt-2 text-right">
            {% set freshness_score = h.freshness_score(package) %}
            {% set freshness_tooltip = '<p class="break-normal">This score represents how recently one or more of the data resources was last updated.</p>
                                        <ul>
                                            <li>5: &lt; 6 months</li>
                                            <li>4: &lt; 12 months</li>
                                            <li>3: &lt; 18months</li>
                                            <li>2: &lt; 24 months</li>
                                            <li>1: &gt; 24 months</li>
                                        </ul>' %}
            {% if freshness_score > 0 %}
                <span class="underline decoration-dashed"
                      role="button"
                      tabindex="0"
                      title="Dataset freshness score" 
                      data-target="popover" 
                      data-content="{{ freshness_tooltip }}" 
                      data-placement="left"
                      data-html="true"
                      data-trigger="focus">
                    {{ _('Dataset freshness') }}</span>:
                <span class="font-bold text-xl">{{ freshness_score }}<span class="text-base text-gray-400">/5</span></span>
            {% endif %}
        </div>
        {% endif %}
    </div>
{% endblock %}