<div class="float-left mt-2 ml-3">
  <h2 class="m-0 font-mono text-sm font-normal text-subak-burnt-copper">
    DATA CATALOGUE
  </h2>
  <img src="{{ '/images/search.svg' }}" class="inline" />
  <img src="{{ '/images/connect.svg' }}" class="inline mr-1" />
  <img src="{{ '/images/trust.svg' }}" class="inline" />
  <div class="inline ml-1 mb-0 bg-gradient-to-r from-green-500 to-cyan-400 rounded-md">
      <h3
        class="inline m-1 font-mono text-md font-normal text-white"
      >
        BETA
      </h3>
  </div
</div>
