{% set tags = h.get_facet_items_dict('tags', c.search_facets, limit=3) %}
{% set stats = h.get_site_statistics() %}

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <form method="get" action="{% url_for 'dataset.search' %}" style="border-bottom: 2px solid #ddd;">
        <input aria-label="{% block header_site_search_label %}{{ _('Search datasets') }}{% endblock %}"
            id="field-main-search" type="text" class="hero-search-bar" name="q" value="" autocomplete="off"
            placeholder="Search data" style="max-width: 450px;" />
        <button type="submit" aria-labelledby="search-label"
            style="background-color: transparent; background-color: transparent; padding: 4px; width: 100px; vertical-align: super; float:right;">
            <i class="fa fa-search" style="color: white; font-size: 50px;"></i>
            <span class="sr-only" id="search-label">{{ _('Search') }}</span>
        </button>
    </form>
    <div>
        <h2 style="font-size: 14px; font-weight:400">
            <span style="color: #FFF;">{{ h.SI_number_span(stats.dataset_count) }} DATASETS</span>
            <span style="color: #FFF;" class="ms-3 me-3">|</span>
            <span style="color: #C95E3B;"><img src="{{ 'images/search.svg' }}" class="me-3 inline">SEARCHABLE
            </span>
            <span style="color: #C95E3B;"><img src="{{ 'images/connect.svg' }}" class="ms-3 me-3 inline">CONNECTED
            </span>
            <span style="color: #C95E3B;"><img src="{{ 'images/trust.svg' }}" class="ms-3 me-3 inline">TRUSTED
            </span>
        </h2>
    </div>
</div>
<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 tags">
    <h3 style="color: #FFF">{{ _('Quick explore by theme') }}</h3>
    {% for tag in tags %}
    <a href="{% url_for 'dataset.search', tags=tag.name %}">
        <button type="button" class="btn btn-outline-light me-2" style="border: 1px solid;">
            {{ h.truncate(tag.display_name, 22) }}
        </button>
    </a>
    {% endfor %}
</div>