<div class="full-width" style="background-color: #1D838B;">
  <div class="container" style="padding: 65px;">
    <h2 style="font-size: 20px; color: white; font-weight:300;" class="font-ubuntu">WELCOME</h2>
    <h3 style="font-weight:400; font-size: 47px; color: white; line-height:47px; margin-bottom:25px;"
      class="font-helvetica">The Subak
      Data Catalogue exists to
      make climate data
      more
      discoverable; more trusted; and more connected.</h3>
    <p>
      <a href="https://climatesubak.org/the-data-cooperative" alt="Subak Data Cooperative">
        <button style="padding: 10px; border: 2px solid white;background-color: transparent;">
          <h2 style="font-size: 16px; color: white; font-weight:300;" class="m-0 p-0 font-ubuntu">LEARN MORE</h2>
        </button>
      </a>
    </p>
  </div>
</div>