<section class="additional-info">
    <h3>{{ _('Additional Information') }}</h3>
    <table class="table table-striped table-bordered table-condensed" style="width: 100%">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 100%;">
        </colgroup>

        <thead>
            <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
            </tr>
        </thead>
        <tbody>
            {% block package_additional_info %}{% endblock %}

            {% block extras scoped %}
                {% if pkg_dict.extras %}
                <tr><td class="bg-white pt-6" colspan="2">Extras</td></tr>
                {% endif %}
                {% for extra in h.sorted_extras(pkg_dict.extras, auto_clean=true) %}
                {% set key, value = extra %}
                <tr rel="dc:relation" resource="_:extra{{ i }}">
                    <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key|e) }}</th>
                    <td class="dataset-details" property="rdf:value">{{ value }}</td>
                </tr>
                {% endfor %}
            {% endblock %}
        </tbody>

        {# This section is hidden with CSS but lists all the key/values on the package model. #}
        {# This includes many custom fields from the old schema that we might want to manually copy to the new schema fields. #}
        <tbody class="hidden">
            <tr><td class="bg-white pt-6" colspan="2">All metadata</td></tr>
            {% for prop in pkg_dict.items() %}
            {% set key, value = prop %}
            <tr class="">
                <th scope="row" class="dataset-label">{{ _(key|e) }}</th>
                <td class="dataset-details">{{ value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>